[mysqld]
# Configuración de memoria
innodb_buffer_pool_size = 128M   # Tamaño del buffer de InnoDB, ajustar según la memoria disponible
innodb_log_file_size = 32M       # Tamaño de los archivos de registro de InnoDB
innodb_log_buffer_size = 8M      # Tamaño del buffer de registro de InnoDB
key_buffer_size = 16M            # Tamaño del buffer de índices
max_connections = 20             # Número máximo de conexiones simultáneas
query_cache_type = 0             # Desactivar la caché de consultas
query_cache_size = 0             # Tamaño de la caché de consultas (0 = desactivada)

# Configuración de rendimiento y recursos
table_open_cache = 200           # Número máximo de tablas abiertas
thread_cache_size = 10           # Número de conexiones en caché
tmp_table_size = 16M             # Tamaño máximo de tablas temporales
max_heap_table_size = 16M        # Tamaño máximo de tablas temporales en memoria

# Otras configuraciones
innodb_flush_log_at_trx_commit = 1   # Garantizar la integridad de los datos
innodb_file_per_table = 1            # Almacenar tablas InnoDB en archivos separados
innodb_flush_method = O_DIRECT       # Mejorar el rendimiento de I/O

# Configuraciones de seguridad
skip_external_locking = 1            # Evitar bloqueos externos
secure-file-priv = ""                # Restringir la ubicación de archivos cargados
