[mysqld]
# Configuración de memoria
innodb_buffer_pool_size = 128M
innodb_log_file_size = 32M
innodb_log_buffer_size = 8M
key_buffer_size = 16M
max_connections = 20
query_cache_type = 0
query_cache_size = 0

# Configuración de rendimiento y recursos
table_open_cache = 200
thread_cache_size = 10
tmp_table_size = 16M
max_heap_table_size = 16M

# Otras configuraciones
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT

# Configuraciones de seguridad
skip_external_locking = 1
secure_file_priv = ""

# Limitación de conexión
back_log = 10
max_allowed_packet = 16M

# Configuraciones adicionales
sort_buffer_size = 512K
read_buffer_size = 512K
read_rnd_buffer_size = 1M
join_buffer_size = 1M
